.category-drawer {
  position: absolute;
  right: 0;
  background: #FFFFFF;
  top: 0;
  bottom: 0;
  width: 250px;
  transition: 1s;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.category-drawer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-drawer ul li:first-of-type {
  color: #455A64;
  background: #f9f9f9;
  border-bottom:1px solid #f0f0f0;
  height: 49px;
  vertical-align: middle;
  padding: 0 0 0 20px;
  margin: auto 0;
  line-height: 50px;
  font-weight: 100;
  cursor: default;
  text-shadow: 0 1px 1px #FFFFFF;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 50px;
  vertical-align: middle;
  padding: 12px 12px 0 0;
  cursor: pointer;
}

.category-drawer ul li {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #263238;
  border-bottom: 1px solid #f9f9f9;
}
