.modal-container {
    display: flex;
    flex-direction: column;
}

.modal-title-wrapper {
  background: #2196F3;
  padding: 10px;
  color: #ffffff;
  display: flex;
}

.modal-title {
  flex-grow: 1;
}

.modal-body {
  padding: 20px;
  flex-grow: 1;
}

.close-modal-icon {
  cursor: pointer;
}

.modal-footer {
  padding: 10px 0;
  text-align: center;
  background: #f0f0f0;
  border-top: 1px solid rgba(0, 0, 0, .075);
  margin-top: 10px;
}

.modal-save-button {
  background: #2196F3;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  border: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
